<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/mystyle.css">
	<script src="js/jquery-3.1.0.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<h2>Thêm Sản Phẩm Mới</h2>
		<form>
		  <div class="form-group">
		    <label >Tên Sản phẩm:</label>
		    <input  class="form-control" id="email">
		  </div>
		  <input type="submit" class="btn btn-success" value="Thêm"/>
		</form>
	</div>
</body>
</html>